body{
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
  background-color: #ecf2ef;
}

a{
  text-decoration: none;
  color: #fff;
}

h1{
  margin: 100px 35%;
  font-size: 45px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;

  /* margin: 0 auto; */
}

.logo img {
  height: 50px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}


.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
text-decoration: none;
color: #27284E; /* Initial text color */
font-size: 15px;
font-weight: bold;
margin-left: 15px;
background: linear-gradient(to right, #D53636 50%, #27284E 50%);
background-size: 200% 100%;
background-position: 100% 0;
transition: background-position 0.5s ease-in-out;
-webkit-background-clip: text; /* For WebKit browsers */
background-clip: text; /* Standard property */
-webkit-text-fill-color: transparent; /* For WebKit browsers */
text-fill-color: transparent; /* Standard property */
}


.nav-links ul li a:hover {
  background-position: 0 0; /* Move the gradient to create the wipe effect */
}


.editorial-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
  gap: 50px; /* Space between cards */
}


.editorial-card {
  background-color: #f1ffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px; /* Width of each card */
  text-align: left;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row; /* Align content horizontally */
}

.editorial-card:hover {
  transform: scale(1.05);
}

.editorial-card img {
  width: 50%; /* Half the width of the card for the image */
  height: auto;
  object-fit: cover;
  border-radius: 10px 0 0 10px; /* Rounded corners on the left */
}

.editorial-content {
  padding: 20px;
  flex-grow: 1; /* Allow content to fill the remaining space */
}

.editorial-content h2 {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 60px;
  color: #27284e;
}

.editorial-title {
  color: #888;
  font-size: 1.1em;
  margin-top: -10px; /* Adjust margin to reduce space */
  margin-bottom: 10px;
}

.editorial-bio {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

.editorial-contact {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}

.editorial-contact a {
  display: flex;
  align-items: center;
  color: #27284e;
  text-decoration: none;
  font-weight: bold;
}

.editorial-contact a i {
  margin-right: 10px;
}

.editorial-contact a:hover {
  text-decoration: underline;
}

.container {
  width: fit-content;
  margin: 20px 5%;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container thead {
  background-color: #1F2739;
  color: #fff;
}

.container thead th h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.container thead th{
  border: #fff solid ;
}

.container tbody tr td{
  transition: background-color 0.5s ease, transform 1s ease;
}

.container tbody tr:nth-child(odd) {
  background-color: #323C50;
}

.container tbody tr:nth-child(even) {
  background-color: #2C3446;
}

.container tbody tr td:hover {
  background-color: #fff229;
  color: #1F2739;
  transform: translateY(-10px) translateX(10px);
}
.container tbody td {
  padding: 12px;
  color: #fff;
  border: 2px solid #ffffff;

}

.container tbody td:first-child {
  font-weight: bold;

}
.container tbody tr {
  height: 80px;

}

