@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0c704180;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
  --box-shadow: 2px 10px 20px #0d32214d;
  --background1: #366c53;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.section__subheader {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.section__header {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.75rem;
  color: var(--text-dark);
  text-align: center;
}

.logo {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-dark);
}

.logo span {
  color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/background.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background1);
}

.nav__logo .logo {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background1);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}


.nav__links a {
  font-weight: 500;
  white-space: nowrap;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--primary-color);
}
.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 550px;
  margin-inline: auto;
}

.header__content .section__subheader {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4.75rem;
  font-weight: 500;
  line-height: 5.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content p {
  margin-bottom: 2rem;
  line-height: 2rem;
  color: var(--text-light);
  text-align: center;
}

.header__btns {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__btns .btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: #FF914D;
  border-radius: 5px;
  cursor: pointer;
}

.header__btns .btn:hover {
  background-color: #fe8032;
  border-radius: 5px;
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.header__btns a:hover {
  color: var(--text-dark);
}

.header__btns a span {
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 100%;
}

.header__btns a span:hover {
  background-color: #04794280;
}

/* <!-- JOURNEY SECTION --> */
.journey__grid {
  margin: 0rem;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: #f1ffff;
}

.journey__image {
  position: relative;
}

.journey__image img:nth-child(1) {
  max-width: 500px;
  margin: auto;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.journey__image img:nth-child(2) {
  max-width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.journey__content {
  padding: 2rem 0;
}

.journey__content h4 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-dark);
}

.journey__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.journey__content__grid {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.journey__content__grid h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#ffffff;
   background-color:#f9fffb;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #000000; }
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: #ffffff;
   margin-right: 25px;
 }
 
 .container td {
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
     text-align: left;
     overflow: hidden;
     width: 1000%;
     margin: 2 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
   padding-left:2%;  
 }
 .container tr:nth-child(odd) {
     background-color: #323C50;
 }
 .container tr:nth-child(even) {
     background-color: #2C3446;
 }
 
 .container th {
     background-color: #1F2739;
 }
 
 .container td:first-child { color: #fff200; }
 
 .container tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 .container td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }